[Unit]
Description=Keymaer key mapping tool (Userspace)
After=graphical.target

[Service]
ExecStart=/usr/local/bin/keymaer
Type=simple

[Install]
WantedBy=default.target
