[Unit]
Description=Keymaer key mapping tool (System space)
Requires=multi-user.target

[Service]
ExecStart=/usr/local/bin/keymaer
Type=simple

[Install]
WantedBy=multi-user.target
