[Unit]
Description=Keymaer key mapping tool
Requires=multi-user.target
After=graphical.target

[Service]
ExecStart=/usr/local/bin/keymaer
Type=simple

[Install]
WantedBy=multi-user.target
